
## Basics of Python

*Author - **Himanshu Gahlot***

Today's agenda
- Understanding IDE
- Basics about other environments
- Syntax of Python
- Variables, data types in Python
- Data structures in Python

In [2]:
# This is coding block

This is markdown block

In [3]:
# Command mode

#### Lets learn Python

*Whats this cell is?* <br>
*Why do we need these cells*

In [ ]:
## Write any number in this

*What if you write your name?*

In [ ]:
## Type your name and see what it shows to you

*That's bad !!!!!!!!!!!!!!*

In [ ]:
## First lesson
#    String and number

**We will come this later**<br>
*Lets see what are numbers and how we play with numbers*<br>
_**DS is all about number games**_

Add 2 numbers

Subtract 2 numbers

Multiply 2 numbers

Divide any 2 numbers

What happens if you divide with 0?

How to get the remainder?

Is your number an odd or even number?

Square of any number

Raise to power of _**n**_?

## Why do we need Python any simple calculator can do it?

<br><br>
Python - "***WAIT!!!!!!!!!!!!!!!!*** I am not even started!"

lets solve this <b> H<sup>2</sup> = P<sup>2</sup> + B<sup>2</sup> </b>

In [ ]:
## What is your P?

In [ ]:
## What is you B?

Lets say your _p_ is your **P** and _b_ is your **b**

In [ ]:
p = 
b =

Now see the magic here is your **H**

In [ ]:
H

 *That's double bad !!!!!!!!!!!!!!*

Hint: ***p*** & ***b*** is small, so should be ***h***

In [ ]:
h

 *That's very bad !!!!!!!!!!!!!!*

Computers are the dumbest thing you will encounter <br>
***But if you master this slave there is no servant is better than this one <br>***
AI is not still here that can read your mind :P <br>

In [ ]:
## Explain the problem to the computer

##### Think modular
- Break your problem first, to the smallest level

Your problem is to calculate **Hypotenuse square**
1. You need **Perpendicular length**, then you need to have **square** of it
2. You need **Base length**, then you need to have to have **square** of it
3. Now the **sum of the squares** of these 2 is **Hypotenuse square**

$$ H^2 = P^2 + B^2 $$

The `p`, `b`, `h` you have used above are variable names, you can variable name is an alias you are giving to the value.

Like your parents have given you an alias :P

In real world someone else can have the same name as you have but in any program no 2 variables can have the same name

Before we move forward lets understand what happens in the memory of the system

Whenever you define any variable 

|`Variable names ->`|p|---|b|---|h|
|:-:|:-:|:-:|:-:|:-:|:-:|
|**`Variable Values - >`**|3|---|4|---|5|
|**`Memory addresses ->`**|1203|---|978|---|22298|

## Naming Rules

> _There are only two hard things in Computer Science: cache invalidation and naming things._ - Phil Karlton

You can _pretty much_ name variables whatever you want. But, there are a few rules we should follow. Some are strict, some are just good manners.

### Variable naming rules (mandatory)
- Names can only consist of numbers, letters and underscores. *[A to z, 0 to 9, _]*
- Names can't begin with numbers. *[2_numbers_sum]*
- You can't name a variable after a built-in Python keyword (eg `if`).

### Variable naming rules (good manners)
- Names should _**always**_ be descriptive (ie, don't name variables `x` and `df`)
- No capital letters!
- Variables should not begin with an underscore (this means something special)
- Multi-word variables should be in `snake_case`. All lower case separated by underscores.
- Technically, you _can_ name variables after built-in Python _functions_ (like `print`), but it's an _extremely_ bad idea to do so.
    - Rule of thumb: If a variable name turns green, don't use it!
    
### Math exercise (sorry):
Recall the quadratic formula for solving a polynomial equation with coefficients $a$, $b$, $c$:

$$ x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a} $$

#### Think Modular
1. 
2.
3.
4.

In [ ]:
a = 
b = 
c =

In [ ]:
b_sq =

In [ ]:
four_times_ac =

In [ ]:
b_sq_sub_4_ac =

In [ ]:
sq_rt =

In [ ]:
sum_or_sub_b_from_sqrt =

In [ ]:
two_times_a =

In [ ]:
x =

***Here is your output <br>No tricks this time***

In [ ]:
x

In [ ]:
print(x)

So what we just saw is <br>
**_a_** <br>
**_b_** <br>
**_c_** <br>
**_b_sq_** <br>
**_four_times_ac_** <br>
**_b_sq_sub_4_ac_** <br>
**_sq_rt_** <br>
**_sum_or_sub_b_from_sqrt_** <br>
**_two_times_a_** <br>
**_x_** <br>
these all are names of variables

Now write your `name` again

In [ ]:
# Enter your first name

Look closely at the error

Do you find anything common?

Like how all `variables` are being used?

So whenever you type your name python thinks it is a variable but why? Do you guys know each other? After all it is in your computer :P

Lets understand why?

Lets understand how it is being used in the memory

Each `var` is treated differently in memory based on `data type`

Sorry what `data ...`?

## So, what is a "data type"?
When you hear the word "data", you probably think of a spreadsheet. Actually, **data is a synonym for information!** Anything that represents "information" is data. Including any and all Python variables. If I run `x = 3`, then `x` is data!

Data can come in various **types.** We've already seen two types!

1. The `int` type: Integers with no decimal part (eg `2`, `-30`, `14`)
1. The `float` type: Numbers with a decimal part, even if that part is zero (eg `2.5`, `3.141`, `2**0.5`, `-3.0`)

Curious about what an object's data type is? Simply use the `type()` function to ask!

```python
type(3) # int
type(4.2) # float
```

In [ ]:
print("Type of a - ", type(a))
print("Type of b - ", type(b))
print("Type of c - ", type(c))
print("Type of b_sq - ", type(b_sq))
print("Type of four_times_ac - ", type(four_times_ac))
print("Type of b_sq_sub_4_ac - ", type(b_sq_sub_4_ac))
print("Type of sq_rt - ", type(sq_rt))
print("Type of sum_or_sub_b_from_sqrt - ", type(sum_or_sub_b_from_sqrt))
print("Type of two_times_a - ", type(two_times_a))
print("Type of x - ", type(x))

print('Type of "Hi" - ', type("Hi"))

Feel free to choose your example

Lets settle the battle of your `Name`

## String

---

Type your `name` inside (`"`) or (`'`)

In [ ]:
# "Himanshu"

I know you like it write your full name

Lets understand how is it different from other data types

In [1]:
# Enter any number, without quotes

In [2]:
# Enter any number, with quotes

Check the 

```python
type("any string")
```

is it still int or float?

Enter your **first name** in `first line` & **last name** in `second line`
<br>`"First Name` <br>
`Last Name"`

_**Ahhh!!!!!!!!**_
<br>What if you would love to write books here :P

How to enter multi-lines

In [ ]:
"""
"""

Try with print

In [5]:
print("""
""")

Can you spot the difference?

Can we store in the `var` as well?

Lets try it

In [ ]:
quote = ""
print(quote)

What about multi-line?

In [ ]:
quote = """
"""
print(quote)

You guys are `Simply Perfecto!`

Lets see can you guys guess output right?

`"3" + "4" = 7`?

## Maths with a twist 

--- 
Maths on strings

As you have seen from the above example you don't know even the addition

```python
Very Very Bad!!!
```

Lets understand the new addition

In [ ]:
print("3" + "4")
print(3 + 4)

What if we mix the data types, will we get the sum?

In [ ]:
print(3 + "4")

***Not Again!!!!***

Reason?

Define 2 `variables` based on your `First Name` & `Second Name`
1. first_name
2. last_name

In [ ]:
first_name = ""
last_name = ""

Memory implementation

|`Variable names ->`|first_name|
|:-:|:-:|
|**`Variable Values - >`**|"H", "i", "m", "a", "n", "s", "h", "u"|
|**`Len of variable - >`**|8|
|**`Memory addresses ->`**|1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211|

Now some examples
1. Print your `last name`, `first name`
2. Print your `last name` first and then `first name`
3. Save & Print `space` between `First Name and Last Name`

## String Functions
1. Upper
2. Lower
3. Replace
4. Length
5. Split

---

To use these methods we need to
```python
string_variable_name.method(param)
```

In [ ]:
string_example = "hi my Name is Anthony Gonsalves"
print(string_example)

In [ ]:
print(string_example.upper())
print(string_example)

In [ ]:
print(string_example.lower())

In [ ]:
print(string_example.replace("Name", "full name"))

In [ ]:
print(len(first_name))

In [ ]:
print(string_example.split(" "))

Last example the output is little weird, isn't it?

For sure it is not the `string` and god help me if I compare it with `int` or `float`.

Ok let me introduce to you, one of the most important data types in Python, `Collection`.

---

## Collections

When ever we store multiple items in a single variable the we say it belongs to collections

Example of collections - 
1. List
2. Tuple
3. Dict
4. Set

Lets undertand one by one

## List

---

If I ask you to store your first name and last name in the following way

In [ ]:
full_name = [first_name, last_name]
print(full_name)

What you need to observe is, there is a new way we are using to create a variable

Earlier we used to give this

```python
varibale_name_a = variable_name_b
```

but now we are using `varibale_name_a = [variable_name_b]`

These suqare brackets (`[]`) are the only new thing here, rest everything is the same

Lets see if we still have the name as string or not?

In [ ]:
type(first_name)

In [ ]:
type(last_name)

`str` is the output.

No surprises here, everything is the same as expected

In [ ]:
type(full_name)

Here it is `list` not `str`, though `first_name` and `last_name` are `str`

This is `list` because it is not storing any `str` like `first_name` or `last_name`, what it is having is `2 str` members as it constituents

If we pay a close attention to how it is stored in the memory then we have better understanding about it

|`Variable names ->`|first_name|---|last_name|---|full_name|
|:-:|:-:|:-:|:-:|:-:|:-:|
|**`Variable Values - >`**|"Himanshu"|---|"Gahlot"|---|1203, 978|
|**`Len of variable - >`**|8|---|6|---|2|
|**`Memory addresses ->`**|1203, 1204.. +8|---|978, 979.. +6|---|22298, 22299|

List and String share common way of addressing mechanism

***Remember***

|`Variable names ->`|first_name|
|:-:|:-:|
|**`Variable Values - >`**|"H", "i", "m", "a", "n", "s", "h", "u"|
|**`Len of variable - >`**|8|
|**`Memory addresses ->`**|1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211|

In [ ]:
# First charachter of your name
first_name[0]

In [ ]:
# First element of the list
full_name[0]

In [ ]:
# Last character of your name 
first_name[-1]

In [ ]:
# Last element in the list
full_name[-1]

In [ ]:
# Last 2nd charachter of your name
first_name[-2]

In [ ]:
# Last 2nd element of the list
full_name[-2]

In [ ]:
# Except last charachter of your name
first_name[:-1]

In [ ]:
# Except last element of the list
full_name[:-1]

In [ ]:
# Print your name in reverse order
first_name[::-1]

In [ ]:
# Print elements in reverse order
full_name[::-1]

## List Operations

In [ ]:
# Print your full name with space
" ".join(full_name)

In [ ]:
# Print your full name with a comma
", ".join(full_name)

In [ ]:
# Print your full name in reverse order with space
" ".join(full_name[::-1])

In [ ]:
# If you want to remove last element from the list
full_name.pop()

In [ ]:
# Print again list
full_name

In [ ]:
# Add again your last name
full_name.append(last_name)

In [ ]:
# Add again your mobile number
full_name.append(999999999)

In [ ]:
# Print again list
full_name

Properties of list

**Mutable** - You can change the values in the list (as you have seen above we have `append`, `pop` as functions, it changes the list)<br>
**Hetrogenous** - It can have different data type elements in a single list (as you have seen above we have a list of string and we added a `mobile number`)