In [ ]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:98% !important; }</style>"))


## Basics of Python

*Author - **Himanshu Gahlot***

Today's agenda
- Understanding IDE
- Basics about other environments
- Syntax of Python
- Variables, data types in Python
- Data structures in Python

In [ ]:
# This is coding block

This is markdown block

In [ ]:
# Command mode

In [ ]:
7

#### Lets learn Python

*Whats this cell is?* <br>
*Why do we need these cells*

In [ ]:
## Write any number in this
5

*What if you write your name?*

In [ ]:
## Type your name and see what it shows to you
himanshu

*That's bad !!!!!!!!!!!!!!*

In [ ]:
## First lesson
#    String and number

**We will come this later**<br>
*Lets see what are numbers and how we play with numbers*<br>
_**DS is all about number games**_

Add 2 numbers

In [ ]:
5+2

Subtract 2 numbers

In [ ]:
4-5

Multiply 2 numbers

In [ ]:
4*5

Divide any 2 numbers

In [ ]:
5/3

What happens if you divide with 0?

In [ ]:
5/0

How to get the remainder?

In [ ]:
75%9

In [ ]:
75/9

Is your number an odd or even number?

In [ ]:
128%2

Square of any number

In [ ]:
5*5*5

Raise to power of _**n**_?

In [ ]:
3**2

In [ ]:
4**2

In [ ]:
16+9

$$ 5^3 $$

## Why do we need Python any simple calculator can do it?

<br><br>
Python - "***WAIT!!!!!!!!!!!!!!!!*** I am not even started!"

lets solve this <b> H<sup>2</sup> = P<sup>2</sup> + B<sup>2</sup> </b>

In [ ]:
## What is your P?
3

In [ ]:
## What is you B?
4

Lets say your _p_ is your **P** and _b_ is your **b**

In [ ]:
p = 3
b = 4

Now see the magic here is your **H**

In [ ]:
H

 *That's double bad !!!!!!!!!!!!!!*

Hint: ***p*** & ***b*** is small, so should be ***h***

In [ ]:
h

 *That's very bad !!!!!!!!!!!!!!*

Computers are the dumbest thing you will encounter <br>
***But if you master this slave there is no servant is better than this one <br>***
AI is not still here that can read your mind :P <br>

In [ ]:
## Explain the problem to the computer
H = p**2 + b**2
H

In [ ]:
H**(1/2)

##### Think modular
- Break your problem first, to the smallest level

Your problem is to calculate **Hypotenuse square**
1. You need **Perpendicular length**, then you need to have **square** of it
2. You need **Base length**, then you need to have to have **square** of it
3. Now the **sum of the squares** of these 2 is **Hypotenuse square**

$$ H^2 = P^2 + B^2 $$

In [ ]:
p

In [ ]:
p = 6

In [ ]:
q = p

In [ ]:
q

In [ ]:
p

In [ ]:
H = (p**2 + b**2)**.5

In [ ]:
H

In [ ]:
p = 6
p

In [ ]:
p

The `p`, `b`, `h` you have used above are variable names, you can variable name is an alias you are giving to the value.

Like your parents have given you an alias :P

In real world someone else can have the same name as you have but in any program no 2 variables can have the same name

Before we move forward lets understand what happens in the memory of the system

Whenever you define any variable 

|`Variable names ->`|p|---|b|---|h|
|:-:|:-:|:-:|:-:|:-:|:-:|
|**`Variable Values - >`**|3|---|4|---|5|
|**`Memory addresses ->`**|1203|---|978|---|22298|

## Naming Rules

> _There are only two hard things in Computer Science: cache invalidation and naming things._ - Phil Karlton

You can _pretty much_ name variables whatever you want. But, there are a few rules we should follow. Some are strict, some are just good manners.

### Variable naming rules (mandatory)
- Names can only consist of numbers, letters and underscores. *[A to z, 0 to 9, _]*
- Names can't begin with numbers. *[2_numbers_sum]*
- You can't name a variable after a built-in Python keyword (eg `if`).

### Variable naming rules (good manners)
- Names should _**always**_ be descriptive (ie, don't name variables `x` and `df`)
- No capital letters!
- Variables should not begin with an underscore (this means something special)
- Multi-word variables should be in `snake_case`. All lower case separated by underscores.
- Technically, you _can_ name variables after built-in Python _functions_ (like `print`), but it's an _extremely_ bad idea to do so.
    - Rule of thumb: If a variable name turns green, don't use it!
    
### Math exercise (sorry):
Recall the quadratic formula for solving a polynomial equation with coefficients $a$, $b$, $c$:

$$ x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a} $$

#### Think Modular
1. 
2.
3.
4.

In [ ]:
a = 1.0
b = 2
c = 1

In [ ]:
a,b,c

In [ ]:
print(a,b,c)

In [ ]:
b_sq = b**2

In [ ]:
b_sq

In [ ]:
four_times_ac = (4 * a) * c

In [ ]:
four_times_ac

In [ ]:
b_sq_sub_4_ac = b_sq - four_times_ac

In [ ]:
b_sq_sub_4_ac

In [ ]:
sq_rt = b_sq_sub_4_ac ** .5
print(sq_rt)

In [ ]:
a = 4+7
# print(a)

In [ ]:
a

In [ ]:
print(a)

In [ ]:
# -1 * 2 + 0
sum_or_sub_b_from_sqrt = -1*b + sq_rt
sum_or_sub_b_from_sqrt

In [ ]:
two_times_a = 2*a

In [ ]:
x = sum_or_sub_b_from_sqrt/two_times_a

In [ ]:
x

In [ ]:
9 + 2

$$ x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a} $$

In [ ]:
(-1*b + (b**2 - 4*a*c)**(0.5))/(2*a)

***Here is your output <br>No tricks this time***

In [ ]:
x

In [ ]:
print(x)

So what we just saw is <br>
**_a_** <br>
**_b_** <br>
**_c_** <br>
**_b_sq_** <br>
**_four_times_ac_** <br>
**_b_sq_sub_4_ac_** <br>
**_sq_rt_** <br>
**_sum_or_sub_b_from_sqrt_** <br>
**_two_times_a_** <br>
**_x_** <br>
these all are names of variables

Now write your `name` again

In [ ]:
# Enter your first name
dog

Look closely at the error

Do you find anything common?

Like how all `variables` are being used?

So whenever you type your name python thinks it is a variable but why? Do you guys know each other? After all it is in your computer :P

Lets understand why?

Lets understand how it is being used in the memory

Each `var` is treated differently in memory based on `data type`

Sorry what `data ...`?

## So, what is a "data type"?
When you hear the word "data", you probably think of a spreadsheet. Actually, **data is a synonym for information!** Anything that represents "information" is data. Including any and all Python variables. If I run `x = 3`, then `x` is data!

Data can come in various **types.** We've already seen two types!

1. The `int` type: Integers with no decimal part (eg `2`, `-30`, `14`)
1. The `float` type: Numbers with a decimal part, even if that part is zero (eg `2.5`, `3.141`, `2**0.5`, `-3.0`)

Curious about what an object's data type is? Simply use the `type()` function to ask!

```python
type(3) # int
type(4.2) # float
```

In [ ]:
b = 2.0

In [ ]:
print("Type of a - ", type(a), " ", a)
print("Type of b - ", type(b), " ", b)
print("Type of c - ", type(c), " ", c)
print("Type of b_sq - ", type(b_sq), " ", b_sq)
print("Type of four_times_ac - ", type(four_times_ac), " ", four_times_ac)
print("Type of b_sq_sub_4_ac - ", type(b_sq_sub_4_ac), " ", b_sq_sub_4_ac)
print("Type of sq_rt - ", type(sq_rt), " ", sq_rt)
print("Type of sum_or_sub_b_from_sqrt - ", type(sum_or_sub_b_from_sqrt), " ", sum_or_sub_b_from_sqrt)
print("Type of two_times_a - ", type(two_times_a), " ", two_times_a)
print("Type of x - ", type(x), " ", x)

print('Type of "Hi" - ', type("Hi"), " ", "Hi")

In [ ]:
type(2.0**2)

Himanshu #1
Gahlot #2

In [ ]:
"himanshu Gahlot"

In [ ]:
print("""Hi Himansh
gahlot are you?
jklhjklh.
djdcjmghbv
""")

In [ ]:
4**(1/4)

In [ ]:
uhgfckhg = 'bawesdbjkdsvxmc nbvklfzdngbjkldfngvjz xcm fvkjlasbnfnslknmxzk;,pp[][]'

In [ ]:
uhgfckhg

In [ ]:
float * int => float
float * float => float
int * int => int

In [ ]:
a,b,c

In [ ]:
four_times_ac = 4*a*c

Feel free to choose your example

In [ ]:
first_name = "himanshu"
first_name

In [ ]:
type(first_name)

Lets settle the battle of your `Name`

## String

---

Type your `name` inside (`"`) or (`'`)

In [ ]:
# "Himanshu"

I know you like it write your full name

Lets understand how is it different from other data types

In [ ]:
# Enter any number, without quotes
4

In [ ]:
# Enter any number, with quotes
'4'

Check the 

```python
type("any string")
```

is it still int or float?

In [ ]:
4 + "Himanshu"

Enter your **first name** in `first line` & **last name** in `second line`
<br>`"First Name` <br>
`Last Name"`

In [ ]:
print('''Himanshu
Gahlot''')

_**Ahhh!!!!!!!!**_
<br>What if you would love to write books here :P

How to enter multi-lines

Try with print

In [ ]:
print("""
""")

In [ ]:
first_name ="Himanshu"
first_name

In [ ]:
last_name = "Gahlot"
last_name

Can you spot the difference?

Can we store in the `var` as well?

Lets try it

What about multi-line?

In [ ]:
quote = """

"""
print(quote)

You guys are `Simply Perfecto!`

Lets see can you guys guess output right?

`"3" + "4" = 7`?

In [ ]:
3+4

In [ ]:
"3" + "4"

## Maths with a twist 

--- 
Maths on strings

As you have seen from the above example you don't know even the addition

```python
Very Very Bad!!!
```

Lets understand the new addition

In [ ]:
print("3" + "4")
print(3 + 4)

What if we mix the data types, will we get the sum?

In [ ]:
print(3 + "himanshu")

In [ ]:
6 * "himanshu"

In [ ]:
"himanshu" / 6

***Not Again!!!!***

Reason?

Define 2 `variables` based on your `First Name` & `Second Name`
1. first_name
2. last_name

In [ ]:
first_name = "Himanshu"
last_name = "Gahlot"

Memory implementation

|`Variable names ->`|first_name|
|:-:|:-:|
|**`Variable Values - >`**|"H", "i", "m", "a", "n", "s", "h", "u"|
|**`Len of variable - >`**|8|
|**`Memory addresses ->`**|1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210|

Now some examples
1. Print your `last name`, `first name`
2. Print your `last name` first and then `first name`
3. Save & Print `space` between `First Name and Last Name`

In [ ]:
print(last_name,first_name)

In [ ]:
last_name,first_name

In [ ]:
print(first_name, last_name)

In [ ]:
5**2

## String Functions
1. Upper
2. Lower
3. Replace
4. Length
5. Split

---

To use these methods we need to
```python
string_variable_name.method(param)
```

In [ ]:
print("""asdjhkjasnvkjsnvk 
hjlklklknlk
jkavcbjasdjkn
jnkjnkjnjkn
""")

In [ ]:
string_example = "hi my Name is Anthony Gonsalves"
print(string_example)

In [ ]:
string_example = string_example.upper()

In [ ]:
string_example

In [ ]:
print(string_example.upper())
# print(string_example)

In [ ]:
print(string_example.lower())

In [ ]:
print(string_example)

In [ ]:
print(string_example.replace("name", "full name"))

In [ ]:
print(len(first_name))

In [ ]:
first_name

In [ ]:
"Himanshu Gahlot".split(" ")

In [ ]:
string_example

In [ ]:
print(string_example.split(" "))

In [ ]:
string_example.split(" ")[3]

In [ ]:
string_example

In [ ]:
string_example.replace("Anthony Gonsalves", "Hi")

In [ ]:
string_example.replace("Himanshu", last_name)

In [ ]:
first_name = "Himanshu"
last_name = "Gahlot"
print(string_example.replace(first_name, last_name))

Last example the output is little weird, isn't it?

For sure it is not the `string` and god help me if I compare it with `int` or `float`.

Ok let me introduce to you, one of the most important data types in Python, `Collection`.

---

## Collections

When ever we store multiple items in a single variable the we say it belongs to collections

Example of collections - 
1. List
2. Tuple
3. Dict
4. Set

Lets undertand one by one

## List

---

If I ask you to store your first name and last name in the following way

In [ ]:
["9",6,7,8,9]

In [ ]:
full_name = [first_name, last_name]
print(full_name)

What you need to observe is, there is a new way we are using to create a variable

Earlier we used to give this

```python
varibale_name_a = variable_name_b
```

but now we are using `varibale_name_a = [variable_name_b]`

These suqare brackets (`[]`) are the only new thing here, rest everything is the same

Lets see if we still have the name as string or not?

In [ ]:
type(first_name)

In [ ]:
type(last_name)

`str` is the output.

No surprises here, everything is the same as expected

In [ ]:
type(full_name)

Here it is `list` not `str`, though `first_name` and `last_name` are `str`

This is `list` because it is not storing any `str` like `first_name` or `last_name`, what it is having is `2 str` members as it constituents

If we pay a close attention to how it is stored in the memory then we have better understanding about it

|`Variable names ->`|first_name|---|last_name|---|full_name|
|:-:|:-:|:-:|:-:|:-:|:-:|
|**`Variable Values - >`**|"Himanshu"|---|"Gahlot"|---|1203, 978|
|**`Len of variable - >`**|8|---|6|---|2|
|**`Memory addresses ->`**|1203, 1204.. +8|---|978, 979.. +6|---|22298, 22299|

List and String share common way of addressing mechanism

***Remember***

|`Variable names ->`|first_name|
|:-:|:-:|
|**`Variable Values - >`**|"H", "i", "m", "a", "n", "s", "h", "u"|
|**`Len of variable - >`**|8|
|**`Memory addresses ->`**|1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210|
|**`Position ->`**|0, 1, 2, 3, 4, 5, 6, 7|

In [ ]:
full_name = ["Himanshu", "Gahlot"]

In [ ]:
full_name = [first_name, last_name]

In [ ]:
full_name

In [ ]:
first_name = "Himanshu"
last_name = "Gahlot"

In [ ]:
print("first name ", type(first_name))
print("full name ", type(full_name))

In [ ]:
first_name[0]

In [ ]:
full_name[0]

In [ ]:
# Last character of your name 
first_name[-1]

In [ ]:
# Last element in the list
full_name[-1]

In [ ]:
# Last 2nd charachter of your name
first_name[-2]

In [ ]:
# Last 2nd element of the list
full_name[-2]

In [ ]:
first_name[2:]

In [ ]:
# Except last charachter of your name
first_name[1:-1]

In [ ]:
# Except last element of the list
full_name[:-1]

In [ ]:
# Print your name in reverse order
first_name[ : : -1]

In [ ]:
# Print elements in reverse order
full_name[::-1]

In [ ]:
# Print a part of name
first_name[1 : 3]

In [ ]:
# Print a part of name
"asma"[1 : 3]

## List Operations

In [ ]:
full_name

Himanshu !! Gahlot

In [ ]:
list(first_name)

In [ ]:
"A".join(list(first_name))

In [ ]:
# Print your full name with space
" ".join(full_name)

In [ ]:
# Print your full name with a comma
", ".join(full_name)

In [ ]:
full_name[::-2]

In [ ]:
# Print your full name in reverse order with space
" ".join(full_name[::-2])

In [ ]:
fullname = ['abc', 'ansar']
" ".join(fullname)

In [ ]:
# Another method to print your full name with space
print(full_name[0] + " " + full_name[1])

In [ ]:
# Print your full name in reverse order with space
print(full_name[1] + " " + full_name[0])

In [ ]:
# If you want to remove last element from the list
full_name.pop()

In [ ]:
# Print again list
full_name

In [ ]:
# Add again your last name
full_name.append("Gahlot")

In [ ]:
# Print again list
full_name

In [ ]:
# Add again your mobile number
full_name.append(999999999)

In [ ]:
# Print again list
full_name

In [ ]:
# Add again your mobile number
full_name.append("Pranshu")
full_name

In [ ]:
full_name.append(full_name)
full_name

In [ ]:
full_name[4][4]

In [ ]:
First_name="Jyothi"
Last_name="Prabhu"
Full_name=[First_name, Last_name]
Full_name=["Jyothi", "Prabhu"]
print(Full_name)

In [ ]:
print(full_name)

Properties of list

**Mutable** - You can change the values in the list (as you have seen above we have `append`, `pop` as functions, it changes the list)<br>
**Hetrogenous** - It can have different data type elements in a single list (as you have seen above we have a list of string and we added a `mobile number`)

Enough about lists

Lets see List like similar data type - `Tuples`

## Tuples

How we define tuples?

In [ ]:
# list
first_name = "himanshu"
full_name = [first_name, last_name]

In [ ]:
full_name = (first_name, last_name)

In [ ]:
list(full_name)

In [ ]:
full_name

In [ ]:
# First element of the Tuple
full_name[0]

In [ ]:
# Second element of Tuple
full_name[1]

In [ ]:
# Last element of the Tuple
full_name[-1]

In [ ]:
full_name

In [ ]:
# Reverse the Tuple
full_name[::-1]

In [ ]:
full_name

Why we need `Tuples` when we have list for us

Both of them looks the same

In [ ]:
# Remove the last element
full_name.pop()

In [ ]:
# Append last name
full_name.append(last_name)

In [ ]:
first_name= ["kiran"]
last_name=["patil"]
full_name = (first_name, last_name)
full_name
full_name[0].pop()

In [ ]:
full_name

In [ ]:
full_name2 = ("himanshu", "gahlot")
full_name2.pop()

So it is clear we cannot change anything in the list once it is created

This is one of the property of Tuples, known as **Immutables**

They are **Heterogenous** too like Lists

Thats it folks for the Tuples, lets move on to the new data type

# Set
***

Set is similar to list and Tuple with an exception, that all the elements in set are unique, means we can't have duplicate elements in set

We can think of set as mathematical set, both have same properties

In [ ]:
# Lets define a set with duplicate values
duplicate_set = {3,2,1,2,1, "himanshu", "A"}
duplicate_set

In [ ]:
y = list(duplicate_set)
y[0]

In [ ]:
y

In [ ]:
a = "Jyothi"
["Jyothi", ""]

In [ ]:
# How to access elements in this, it is as same as list, tuple
list(duplicate_set)[0]

In [ ]:
# Build set from list
duplicated_list = [1,2,3,4,5,4,3,2,1]
de_duplicated_list = set(duplicated_list)
de_duplicated_list

## Set operation

![](./intersections.jpg)

In [ ]:
print(de_duplicated_list)
print(duplicate_set)

In [ ]:
de_duplicated_list.intersection(duplicate_set)

![](./union.jpg)

In [ ]:
de_duplicated_list.union(duplicate_set)

![](./subtraction.jpg)

In [ ]:
print(de_duplicated_list)
print(duplicate_set)

In [ ]:
de_duplicated_list = set([1, 2, 3, 4, 5, 1.0])

In [ ]:
de_duplicated_list - duplicate_set

In [ ]:
x=['banana','applr','banana','cherry']

y= set(x)
y

In [ ]:
de_duplicated_list

In [ ]:
duplicate_set = {1, 2, 35, 'qbc', 'q'}

In [ ]:
de_duplicated_list - duplicate_set

In [ ]:
print(de_duplicated_list) 
print(duplicate_set) output got{1, 2, 3, 4, 5}
{1, 2, 35, 'qbc', 'q'}de_duplicated_list - duplicate_set , output got{3, 4, 5}

Properties of Set
- **Mutable**
- **Heterogenous**
- **Unordered list**

Lets move to `dict`

## Dictionary

It is different than Tuple, List, Set, it `stores data` in `key` `value` pairs, where as previous one only stores `value`

In [ ]:
lst = [1,2,3,4]
lst[2]

In [8]:
full_name

{'first_name': 'Himanshu', 'last_name': 'Gahlot'}

In [ ]:
full_name = {'first_name' : 'Himanshu', 'last_name' : 'Gahlot'}
full_name

In [ ]:
['Himanshu', 'Gahlot'] # list
('Himanshu', 'Gahlot') # Tupple



{'Himanshu', 'Gahlot'} # set
{'first_name' : 'Himanshu', 'last_name' : 'Gahlot'} # Dict

In [ ]:
full_name['last_name']

In [ ]:
full_name[0]

In [5]:
full_name.keys()

dict_keys(['first_name', 'last_name'])

In [6]:
full_name.values()

dict_values(['Himanshu', 'Gahlot'])

In [7]:
# How to access values
full_name['first_name']

'Himanshu'

In [10]:
# Lets access these using index
full_name[0]

KeyError: 0

In [15]:
# Delete some key
full_name.pop('last_name')

'abc'

In [12]:
# Check the value
full_name

{'first_name': 'Himanshu'}

In [13]:
full_name['last_name'] = "abc"

In [16]:
full_name

{'first_name': 'Himanshu'}

You will encounter a point that you need to check some value

In [17]:
# Lets see what happens if the value is not there, but you will still try to fetch it
full_name['last_name']

KeyError: 'last_name'

Lets try something which will not give us error

In [21]:
full_name

{'first_name': 'Himanshu'}

In [20]:
full_name.get('last_name')

In [23]:
full_name.get('first_name')

'Himanshu'

In [22]:
full_name.get('last_name', 'No key found')

'No key found'

In [24]:
full_name["last_name"] = "Gahlot"

In [25]:
full_name

{'first_name': 'Himanshu', 'last_name': 'Gahlot'}

Dictionaries are widely used, memorize its concept

It can grow like a mammoth, as it is an efficient way to store structured data

In [ ]:
# Here is an example
abc = {"menu": {
  "id": "file",
  "value": "File",
  "popup": {
    "menuitem": [
      {"value": "New", "onclick": "CreateNewDoc()"},
      {"value": "Open", "onclick": "OpenDoc()"},
      {"value": "Close", "onclick": "CloseDoc()"}
    ]
  }
}}

So far whatever we have studied is about various data types

Values that can be stored in these data can be of infinite combination, you can store a list of few numbers to millions. So these are extermely flexible at the same time they are pretty complex to understand.

Even though so many flexibility, these are not the most used types

Let me introduce the data types which you are going to use most of the time no matter how small your code.

***

![](./decision_flow.jpg)

## Booleans

They are the backbone of any decision flow, without further delaying it lets look into it

Values which these data types represent is 
`True` & `False`

Though these are this simple but every coder makes mistake with these

In [26]:
# Lets have some variables
positive_case = True
negative_case = False

In [27]:
# Lets see the values
positive_case

True

In [28]:
# Lets see the values
negative_case

False

Thats it for boolean

So far whatever we have seen is not coding

It is just understanding the way computer communicates

Lets start some real programming

End goal of any program is to make some decisions which solves a problem

How do we evaluate it is by using boolean values

|Operator|Name|Example|Result|
|:-:|:-:|:-:|:-:|
|**`==`**|Equal to|5 == 5|True|
|**`!=`**|Not equal to|5 != 5|False|
|**`>`**|Greater than|5 > 5|False|
|**`<`**|Less than|5 < 5|False|
|**`>=`**|Greater than equal to|5 >= 5|True|
|**`<=`**|Less than equal to|5 <= 5|True|
|**`in`**|in|5 in [1,2,3,4,5]|True|

In [48]:
'i' in "Himansu9"

True

In [49]:
[5, 6] in [3,4,5,6,7]

False

In [58]:
set([10,1]).intersection ([1,2,4,5,10,20])

{1, 10}

In [53]:
bool(set([5, 6]).intersection([3,4,7]))

False

In [54]:
set([5, 6]).intersection([3,4,7])

set()

In [79]:
set([5, 6, 3]) - set([3,4,7])

{5, 6}

In [59]:
bool((set([5,6]).intersection([1,2,3,4,5,6])))

True

In [57]:
bool("")

False

In [ ]:
l1 = [1,2,3,4,5,6]

In [ ]:
# Try equal to
x = 1
x == 5

In [ ]:
# Try not equal to
x != 5

In [ ]:
# Try greater than

In [ ]:
# Try less than

In [ ]:
# Try greater than equal to

In [ ]:
# Try less than equal to

In [ ]:
# Try if an element is in the list or not

In [60]:
# Try if an element is in the tupple or not
"gahlot" in ("Himanshu", "Gahlot")

False

In [61]:
# Try if an element is in the dict or not
full_name = {'first_name':"Himanshu"}
"Himanshu" in full_name

False

In [62]:
# Try if an element is in the dict or not
full_name = {'first_name':"Himanshu"}
"first_name" in full_name

True

In [ ]:
first_name = "Himanshu"

In [ ]:
Name = ["Laxmi","Jyothi","Ashish","Riyaz","Tony","Anu","Ajit","Mama","Papa"]
'Ashish' in Name

In [ ]:
Dict1= {'First_name':'Thaulin','Year_birth':'1990','country_of_birth':'Rwanda'}
'Rwanda' in Dict1.values()
Dict1['country_of_birth']

In [ ]:
full_name={'first_name':"Himanshu"}
"su" in first_name

In [ ]:
first_name = "Himanshu"

In [ ]:
full_name = {first_name : 'Arshad', 'last_name' : 'Ayub'}
first_name in full_name
# "Himanshu" in {"Himanshu" : 'Arshad', 'last_name' : 'Ayub'}

In [ ]:
full_name

These are single conditions, what if we want to implement multiple conditions

For ex -

- When will you watch a new movie, if you are free **`and`** if you haven't watched it already
- When will you eat out, if you are tired **`or`** if you want something new

In [88]:
type({})

dict

In [90]:
abcc = set([1,23,45])

In [ ]:
abcc.

In [63]:
(5 < 0) & (5 > 0)
# F & T

False

In [ ]:
# You can use any example where we have two conditions (5 > 0) & (5 < 0)
(5 < 7) & (5 > 6)
# F & T

In [64]:
# Use same condition used above with or, see if Output changes (5 > 0) | (5 < 0)
(5 > 0) | (5 < 0)
# T | F

True

In [ ]:
(5 > 6) & (5 < 7)

Lets understand how each of them works

|A|B|A **`&`** B|
|:-:|:-:|:-:|
|False|False|False|
|False|True|False|
|True|False|False|
|True|True|True|


|A|B|A **`\|`** B|
|:-:|:-:|:-:|
|False|False|False|
|False|True|True|
|True|False|True|
|True|True|True|

In [ ]:
# Try to compare and see how it change, when it change

What if you want negation of the & or |?

Here comes `not` for rescue, lets see how it works

# Not

In [ ]:
not True 
not False

In [68]:
not False

True

In [69]:
not True

False

In [70]:
(5 > 6)

False

In [71]:
# not (5 > 6)
not (5 > 6)

True

In [ ]:
# not ((5 > 6) | (5 < 6))

In [ ]:
# Exercise for home 
# Play with brackets of the above and see what triggers which response

In [ ]:
# Home work #
# Generate as many as conditions as possible, Practice makes a man/woman perfect

In [ ]:
# Home work #
# Generate triple conditions

Lets see paly with `not` some

|A|Not (A)|
|:-:|:-:|
|False|True|
|True|False|


|A|B|`Not` (A & B)|
|:-:|:-:|:-:|
|False|False|True|
|False|True|True|
|True|False|True|
|True|True|False|


|A|B|Not (A \| B)|
|:-:|:-:|:-:|
|False|False|True|
|False|True|False|
|True|False|False|
|True|True|False|

***

Now lets look at decision flow again

![](./decision_flow.jpg)

What we have learned so far are just variables, None of this allows us to influence the flow of the program

Lets see what I mean by influence the flow of the program

`If` your mobile number is even then print your first name <br>
`else` your last name

In [74]:
print("Himanshu")
print("Gahlot")

Himanshu
Gahlot

Are you successful?

If you are then please let me know, because I don't know without knowing ***`if .. else`***

***

Lets talk about

# ***`if .. else`***

In [75]:
# Now try to alter the flow
if True: # any condition we can think for which the outcome is True
    print("This is TRUE")
else:
    print("This False")
    
print("End")

This is TRUE
End

![](./decision_flow.jpg)

In [ ]:
Temp = 32

if Temp < 32: 
    print("Cover Tomatoes")
else:
    print("Uncover Tomatoes")

To Summarise 

if `True`:<br>
    &nbsp;<button> - do this -</button><br>
else:<br>
    &nbsp;<button> - do this -</button><br>
    
This is the case when you have only one ***`if ... else`*** block is sufficient, what if it is not sufficient?

Lets take above example and modify it, if temp is even less than 10 keep **`Tomatos in luke warm water`**

In [77]:
Temp = 35

if (Temp < 32) & (Temp >= 10): 
    print("Cover Tomatoes")
elif Temp < 10:
    print("Tomatos in luke warm water")
else:
    print("Uncover Tomatoes")

Tomatos in luke warm water

Lets two conditions are in conjunction

If Temperature is less than 32 and if Tomatoes is covered then **`do nothing`**, if uncovered then cover it, rest remains the same

In [ ]:
Temp = 40
status_of_tomatoes = "covered"

if (Temp < 32) & (status_of_tomatoes != "covered"): 
    print("Cover Tomatoes")
elif Temp < 10:
    print("Tomatos in luke warm water")
else:
    print("Uncover Tomatoes")
    
print("End")

#### Home Work
     1. Compare two numbers
     2. Compare two strings
     3. Compare two lists
     4. Compare if string starts with **`H`**
     5. Compare if string ends with **`H`**
     6. An element in a list or not
     7. An element in a tupple or not
     8. An element in a set or not
     9. An element in a dict or not
     10. If a list has repeating element or not
     11. If two list has common elements or not
     12. Number is even number or not
     13. Number is a prime number or not

Lets look at another important concept ***`Loops`***

***

## Loop

If i will ask you to print letter 
<br>***`10 times`***, you can write it and print it
<br>***`100 times`***, you might write it and print it
<br>***`10000 times`***, ***`Now you would say, Am I out of my mind?`***

Here ***`Loops`*** comes for your escape

Lets see how to do without loop first

In [ ]:
number_list = [1,2,3,4,5,6,7,8,9]

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

Now lets see how looping can save our effort

First thing first, think modular

If you see above examples 
1. we know where we want to start from
2. we know how big one step is
3. we know where we want to stop

These three things should be very clear in your mind before any loop, only then you will be able to implement any loop

Once having this clarity lets now see how loops work

## For

Looping is a process of getting each value from any collections in an itterative manner, collection data type could be a list, tupple, dictionary or any other user defined.

***`Syntax`***

***for <button>each_element</button> in <button>collection_object</button>:***
    <br>&nbsp;&nbsp;&nbsp;<button>**do this**</button>
    
Lets implement the above example

In [ ]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i)

In [ ]:
# Can we somehow automate the list generation?
# Answer is yes, here we go

for i in range(9):
    print(i)

Pay attention to start and end point

In [ ]:
# But we need the number starting from 1 to 9

for i in range(9):
    print(i+1)

How range work is?
<br>Range is a function which gives you list of number
<br>Range accepts three parameters
<br>***`range ( starting_number [default 0], end_number, step_size )`***

Lets see modular framework in action
1. We wanted to start from 1
2. We wanted to step size to be 1
3. We wanted to end at 9

This is good, do you now appreciate ***`for`*** loop how simple it is
<br>Now lets see some action now
<br>Can we print all odd numbers between 0 to 10?

***Think Modular again***
1. We wanted to start from 1
2. We wanted to step size to be 2
3. We wanted to end at 10

In [ ]:
for i in range(1, 10, 2):
    print(i)

In [ ]:
# Do you remember that we can alter the program flow as well, lets try to print numbers only if it is odd and for even nothing
for i in range(10):
    if i % 2 != 0:
        print(i)

See I have just used if part not else part

Does list only works with numbers?

In [ ]:
for i in "Himanshu":
    print(i)

In [ ]:
for i in ["Himanshu", "Gahlot"]:
    print(i)

In [ ]:
full_name = ["Himanshu", "Gahlot"]

for i in range(len(full_name)):
    print(full_name[i])

Now I hope you guys are familiar with how to use loops, lets look into deeper examples

Here is a very tricky question for you

***`If you add anything to 0, what is the new number you get?`***

In [1]:
# Lets find average of first n numbers
n = 3

sum_of_nums = 0
all_nums = []

for i in range(1, n+1, 1):
    sum_of_nums = i + sum_of_nums
    all_nums.append(str(i))
#     sum_of_nums += i

print("("+" + ".join(all_nums) + f") / {len(range(1, n+1, 1))}")
print("Average is ", sum_of_nums / len(range(1, n+1, 1)))

(1 + 2 + 3) / 3
Average is  2.0

In [2]:
# Lets find factorial of first n numbers
n = 3

prod_of_nums = 1
all_nums = []

for i in range(1, n+1, 1):
    prod_of_nums = i * prod_of_nums
#     prod_of_nums *= i
    all_nums.append(str(i))

print("("+" * ".join(all_nums) + f")")
print("Factorial is ", prod_of_nums)

(1 * 2 * 3)
Factorial is  6

In [2]:
# Lets make some pattern

n = 5

for i in range(1, n+1, 1):
    print(" ".join(['*']*i))

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Lets make some pattern

n = 5

for i in range(1, n+1, 1):
    print(, " ".join(['*']*i))